/* COLOR PALETTE:
Cerulean Crayola (Blue) - #20B2DA
Charleston Green (Blue Shade) - #07262F
Steel Teal (Blue Tone) - #6D868D
Light Blue - #C7EDF7
*/

/* FONTS:
font-family: como, sans-serif;
font-family: myriad-pro, sans-serif;
*/

/******************** Universal Styling ********************/

/* Reset */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: myriad-pro, sans-serif;
    color: #07262F;
}

h1, h2, h3, h4, h5, h6 {
    font-family: como, sans-serif;
}

/******************** Header ********************/

/**** Logo ****/
.logo {
    max-width: 100%;
    padding-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/**** Mobile Nav Menu *****/

/* Mobile Nav Toggle Container */
.menu-flex-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #20B2DA;
    margin-top: 18px;
}

.menu {
    text-transform: uppercase;
    color: #FFF;
}

li.mobile-nav {
    position: relative;
    text-align: right;
    display: block;
    height: 4.5rem;
    /* vertical-align: middle;  */
  }
  
  /* Hamburger Menu */ 
  #nav-toggle {
    font-size: 1.875rem;
    position: absolute;
    width: 32px;
    left: 0;
    height: 73px;
    background: transparent;
    border: none;
    display: block;
    z-index: 1000;
    line-height: 1;
    padding: 0;
    cursor: pointer; 
  }
  
  #nav-toggle:hover, 
  #nav-toggle:focus {
    color: #20B2DA;
    outline: none; 
  }

  #nav-toggle .menu {
    position: absolute;
    display: block;
    width: 1.875rem;
    height: 2px;
    background: #FFF;
    overflow: visible;
    transition: background-color 0.3s ease-out;
    transition-delay: 0.1s; 
  }

  #nav-toggle .menu:before,
  #nav-toggle .menu:after {
    content: "";
    position: absolute;
    left: 0;
    width: 1.875rem;
    height: 2px;
    background: #FFF;
    transition: transform .2s;
  }

   #nav-toggle .menu:before {
    top: -8px; 
  }

  #nav-toggle .menu:after {
    top: 8px; 
  }

  #nav-toggle.open .menu {
    background-color: transparent;
    transition: background-color 0s;
    transition-delay: 0s; 
  }

  #nav-toggle.open .menu:before, 
  #nav-toggle.open .menu:after {
    transition: transform .3s;
  }

  #nav-toggle.open .menu:before {
    top: 0;
    box-shadow: none;
    transform: rotate(45deg); 
  }

  #nav-toggle.open .menu:after {
    transform: rotate(-45deg);
    top: 0; 
  }
  
  /* Mobile Nav Menu Styles */
  nav.mobile {
    display: block;
    position: fixed;
    top: 8rem;
    width: 100%;
    background-color: #07262F;
    z-index: 3;
    box-shadow: 0px 1px 3px -1px rgba(41, 70, 97, 0.2);
    transform: translate(0, -360px);
    transition: all 0.3s ease-out;
    padding-bottom: 1rem;
    opacity: 0; 
    margin-top: 2rem;  
  }

  nav.mobile--open {
    transform: translate(0, 0);
    opacity: 1; 
  }

  nav.mobile ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
  }

  nav.mobile li.link {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 1.5rem 0 0.5rem 1.5rem; 
  }

  nav.mobile li.link a {
    color: #FFF;
    display: block; 
    text-decoration: none;
    text-align: center;
  }

  .logo {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      box-sizing: border-box;
  
    }
    
    .nav-logo img {
      width: auto;
      height: 16px;
    }

/**** Desktop Nav Menu *****/
.desktop-nav {
  display: none;
}

/******************** Media Queries ********************/
@media (min-width: 1200px) {
  /* Desktop Nav */
  .site-header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1%;
  }

  .logo {
    margin-left: 18px;
  }
  
  .menu-flex-container {
    display: none;
  }

  .desktop-nav {
    display: block;
    margin-top: 20px;
  }

  .desktop-nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
  }

  .desktop-nav ul li a {
    text-decoration: none;
    color: #07262F;
    font-size: 16px;
    transition: .3s;
  }

  .desktop-nav ul li a:hover {
    color: #20B2DA;
    transition: .3s;
  }

  .contact-button {
    background-color: #20B2DA;
    padding: 8px 40px;
    border-radius: 25px;
}

.white-text {
  color: #FFF;
}



}