/* COLOR PALETTE:
Cerulean Crayola (Blue) - #20B2DA
Charleston Green (Blue Shade) - #07262F
Steel Teal (Blue Tone) - #6D868D
Light Blue - #C7EDF7
*/

/* FONTS:
font-family: como, sans-serif;
font-family: myriad-pro, sans-serif;
*/

/******************** Universal Styling ********************/

/* Reset */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: myriad-pro, sans-serif;
    color: #07262F;
}

h1, h2, h3, h4, h5, h6 {
    font-family: como, sans-serif;
}

/******************** Header ********************/

/**** Logo ****/
.logo {
    max-width: 100%;
    padding-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/**** Mobile Nav Menu *****/

/* Mobile Nav Toggle Container */
.menu-flex-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #20B2DA;
    margin-top: 18px;
}

.menu {
    text-transform: uppercase;
    color: #FFF;
}

li.mobile-nav {
    position: relative;
    text-align: right;
    display: block;
    height: 4.5rem;
    /* vertical-align: middle;  */
  }
  
  /* Hamburger Menu */ 
  #nav-toggle {
    font-size: 1.875rem;
    position: absolute;
    width: 32px;
    left: 0;
    height: 73px;
    background: transparent;
    border: none;
    display: block;
    z-index: 1000;
    line-height: 1;
    padding: 0;
    cursor: pointer; 
  }
  
  #nav-toggle:hover, 
  #nav-toggle:focus {
    color: #20B2DA;
    outline: none; 
  }

  #nav-toggle .menu {
    position: absolute;
    display: block;
    width: 1.875rem;
    height: 2px;
    background: #FFF;
    overflow: visible;
    transition: background-color 0.3s ease-out;
    transition-delay: 0.1s; 
  }

  #nav-toggle .menu:before,
  #nav-toggle .menu:after {
    content: "";
    position: absolute;
    left: 0;
    width: 1.875rem;
    height: 2px;
    background: #FFF;
    transition: transform .2s;
  }

   #nav-toggle .menu:before {
    top: -8px; 
  }

  #nav-toggle .menu:after {
    top: 8px; 
  }

  #nav-toggle.open .menu {
    background-color: transparent;
    transition: background-color 0s;
    transition-delay: 0s; 
  }

  #nav-toggle.open .menu:before, 
  #nav-toggle.open .menu:after {
    transition: transform .3s;
  }

  #nav-toggle.open .menu:before {
    top: 0;
    box-shadow: none;
    transform: rotate(45deg); 
  }

  #nav-toggle.open .menu:after {
    transform: rotate(-45deg);
    top: 0; 
  }
  
  /* Mobile Nav Menu Styles */
  nav.mobile {
    display: block;
    position: fixed;
    top: 8rem;
    width: 100%;
    background-color: #07262F;
    z-index: 3;
    box-shadow: 0px 1px 3px -1px rgba(41, 70, 97, 0.2);
    transform: translate(0, -360px);
    transition: all 0.3s ease-out;
    padding-bottom: 1rem;
    opacity: 0; 
    margin-top: 2rem;  
  }

  nav.mobile--open {
    transform: translate(0, 0);
    opacity: 1; 
  }

  nav.mobile ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
  }

  nav.mobile li.link {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 1.5rem 0 0.5rem 1.5rem; 
  }

  nav.mobile li.link a {
    color: #FFF;
    display: block; 
    text-decoration: none;
    text-align: center;
  }

  .logo {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      box-sizing: border-box;
  
    }
    
    .nav-logo img {
      width: auto;
      height: 16px;
    }

/**** Desktop Nav Menu *****/
.desktop-nav {
  display: none;
}
/***Blog Styling*****/
.container {
  align-items: center;
  padding-left: 5%;
  width: 100%;
  text-align: left;
}
.post-single{
  align-items: center;
  text-align: justify;
}
.container-fluid {
  width: 100%;
}
.blog-post {
  padding-left: 0;
  padding-right: 0;
}

.blog-post 

.blog-post .post-thumbnail img {
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.post a {
  text-decoration: none;
}

.post a:hover, .post a:focus {
  text-decoration: none;
}

.post h3 {
  line-height: 1.1em;
  color: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 1rem;
}

.post h3:hover {
  color: #555;
}

.post .category a {
  color: #999;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.post .date {
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
  color: #aaa;
}
.post-body{
  width: 80%;
  text-align: center;
}

.img-fluid {
  max-width: 70%;
  height: auto;
}

.blog-post h1:hover {
  color: #444;
}
.blog-post .post-thumbnail img {
  width: 70%;
  margin-bottom: 10px;
}
.blog-post .post-body {
  margin-top: 10px;
}

.blog-post .post-body h2,
.blog-post .post-body h3,
.blog-post .post-body h4,
.blog-post .post-body h5,
.blog-post .post-body h6 {
  color: #333;
}

.blog-post .post-body p {
  margin-bottom: 30px;
}

.blog-post .post-body p:not(.lead) {
  font-size: 1em;
  line-height: 1.7em;
  color: #555;
}


/* Featured Posts Section Media Query ------------------------------------- */
@media (max-width: 991px) {
  section.featured-posts .image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-height: 300px;
    min-height: auto !important;
  }
  section.featured-posts .image img {
    width: 100%;
    height: auto !important;
  }
  section.featured-posts .text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
}

@media (max-width: 575px) {
  section.featured-posts {
    font-size: 0.9em;
  }
  h1 {
    display: block;
    font-size: 1.3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
}

@media (max-width: 350px) {
  section.featured-posts .text-inner {
    padding: 15px;
  }
  section.featured-posts {
    font-size: 0.75em;
  }
  h1 {
    display: block;
    font-size: 1.1em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


}
/******************** latest ********************/
.pb-5{
  display: inline;
  width: 100%;
}
.grid-item {
  width: 25%;
  display: inline-grid;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.lat-post{
  color: #07262F;
}


/******************** Contact ********************/
.content-thumbnail img {
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}
/*FORM CSS*/
.container{
  max-width: 100%;
  margin: 50px auto 80px;
  text-align: center;
  color: white;
}

nav ul li{
  display: inline;
}

nav a{
  text-decoration: underline;
  color: white;
  background: none;
  padding: 35px;
  border-radius: 3px;
  font-weight: bold;
}
nav a:link{
  text-decoration: underline;
  text-shadow: 2px;
}
nav a:visited{
 text-decoration: line-through;
}

header,
title{
  text-align: center;
  padding: 20px 0
}

.contact-form {
  display: list-item;
  align-content: flex-end;
  padding: 20px;
  max-width: 80%;
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  margin: 10px auto;
  text-align: center;
}

.label_input_wrap {
  display: block;
}

.reset input,
.submit input {
  background: none;
  color:#20B2DA;
  padding: 5px 20px;
  background-color: #07262F;
}

.reset,
.submit {
  display: inline;
}
input:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.input-section {
  margin-bottom: 10px;
}

.radiobutton{
  text-align: center;
}

input {
  padding: 5px 10px;
  border-radius: 3px;
  width: 60%;
}

textarea {
    font-family: sans-serif;
    padding: 10px 10px;
    border-radius: 4px
}
select {
  max-width: 180px;
  padding: 8px 0;
  border-radius: 4px
}
label{
  font-weight: bold;
  color:#07262F;
  text-align: left;
}
.submit .input-section{
  color: #20B2DA;
}
.radiobutton {
  text-align: left;
}
/******************** Footer ********************/
footer {
  background-color: #07262F;
  color: #fff;
  text-align: center;
  padding: 28px;
}

footer ul li {
  list-style-type: none;
  padding: 6px;
}

footer ul li a {
  color: #20B2DA;
}

.reverse-logo {
  max-width: 100%;
}

.reverse-logo, .footer-links, .footer-socials {
  padding-bottom: 30px;
}

.footer-headings {
  font-size: 20px;
  padding-bottom: 2px;
}

/* Social Media Icons */
.fa-brands {
  color: #20B2DA;
  background-color: #FFF;
  padding: 10px;
  border-radius: 26px;
  font-size: 30px;
  margin: 8px;
}

/******************** Media Queries ********************/
@media (min-width: 1200px) {
  /* Desktop Nav */
  .site-header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1%;
  }

  .logo {
    margin-left: 18px;
  }
  
  .menu-flex-container {
    display: none;
  }

  .desktop-nav {
    display: block;
    margin-top: 20px;
  }

  .desktop-nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
  }

  .desktop-nav ul li a {
    text-decoration: none;
    color: #07262F;
    font-size: 16px;
    transition: .3s;
  }

  .desktop-nav ul li a:hover {
    color: #20B2DA;
    transition: .3s;
  }

  .login-button {
    background-color: #20B2DA;
    padding: 8px 40px;
    border-radius: 25px;
}

.white-text {
  color: #FFF;
}

/* Footer */
.footer-headings, .footer-links {
  text-align: left;
}

.connect {
  text-align: center;
}

.footer-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.fa-brands {
  transition: .3s;
}

.fa-brands:hover {
  color: #FFF ;
  background-color: #20B2DA;
  transition: .3s;
}

.copyright {
  padding-top: 10px;
}



}